<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for( let j = 0; j < 8; j++) { %> <% for( let i = 1; i < 10; i++) { %>
    <span> <%= data[j] %> * <%= i %> = <%= i*data[j] %> </span>
    <% } %><br />
    <% } %>
  </body>
</html>
