<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="bug">애벌레 코드 이동</a>
    <br />
    <a href="apple">과일 코드 이동</a>
    <br />
    <a href="gugudan">구구단 코드 이동</a>
  </body>
</html>
