<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>회원가입</h1>
    아이디: <input type="text" id="userid" /> <br />
    이름: <input type="text" id="name" /> <br />
    비밀번호: <input type="password" id="password" /> <br />
    <button id="signup" onclick="signup()">회원가입</button>

    <script>
      function signup() {
        const userid = document.querySelector("#userid").value;
        const password = document.querySelector("#password").value;
        const name = document.querySelector("#name").value;
        axios({
          method: "post",
          url: "/",
          data: {
            userid: userid,
            name: name,
            password: password,
          },
        }).then((location.href = "/login"));
      }
    </script>
  </body>
</html>
